<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Amsterdam.rb</title>
    <link href="/assets/stylesheets/site.css" media="screen" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css">
    <script src="/assets/javascripts/modernizr-2.5.3.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3300381-18']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <header id="header">
      <div class="wrap">
        <h1 id="logo"><a href="/"><img src="/assets/images/logo.png" alt="Amsterdam.rb" /></a></h1>
        <p id="intro">We aim at promoting all the aspects of the Ruby programming language and at fostering a vivid Ruby community in the Amsterdam region.</p>
        <ul id="socnet">
          <li><a class="twitter" href="http://twitter.com/amsrb">twitter</a></li>
          <li><a class="github" href="https://github.com/amsrb">github</a></li>
        </ul>
      </div>
    </header>

    <div class="wrap">
      <div id="main">

        {{ content }}

      </div>
    </div>
  </body>
</html>
